body {
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.one {
    background-color: #1F2937;
    padding: 15px 150px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
}

.left, .right {
    width: 500px;
    flex: 1 1 auto;
}

.left{
    padding: 5px 40px 5px 0;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0 0 10px 0;
}

.subtext{
    margin: 0 0 10px 0;
}

button {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #E5E7EB;
}

.subtext, a, .right, button, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 100px 0 60px;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    text-align: center;
}

.img {
    border: 5px solid #3882F6;
    border-radius: 12px;
    height: 190px;
}

.descr {
    margin: 10px 0 0 0;
    color: rgb(51, 51, 51);
}

.three {
    background-color: #E5E7EB;
    padding: 100px 150px;
    justify-content: center;
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
}

.name {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin: 10px 0 0 0;
}

.four {
    padding: 100px 150px;
}

.container {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color:#F9FAF8;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
}

.action p {
    color:#E5E7EB;
    font-size: 20px;
    margin: 0;
}

.container button {
    border: 3px solid white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 50px 0;
}